manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=19.04.0"
}



params {
    conda_env = "tspg"

    input {
        dir = "input"
        train_data = "train.emx.txt"
        train_labels = "train.labels.txt"
        test_data = "test.emx.txt"
        test_labels = "test.labels.txt"
        gmt_file = "example.genesets.txt"
        target_class = "class-00"
    }

    output {
        dir = "output"
    }
}



process {
    beforeScript = "source activate ${params.conda_env}"
    echo = false
}



profiles {
    standard {
        process {
            executor = "local"
        }
        executor {
            queueSize = 1
        }
    }
}
