manifest {
	mainScript = "main.nf"
	defaultBranch = "master"
	nextflowVersion = ">=19.04.0"
}



params {
	conda_env = "tspg"

	input {
		dir = "input"
		data_txt = "*.emx.txt"
		data_npy = "*.emx.npy"
		rownames = "*.emx.rownames.txt"
		colnames = "*.emx.colnames.txt"
		labels = "*.labels.txt"
		gmt_files = "*.genesets.txt"
	}

	output {
		dir = "output"
	}

	train_target {
		enabled = true
	}

	train_advgan {
		enabled = true
	}

	perturb {
		enabled = true
		target_class = "class-00"
	}

	visualize {
		enabled = true
	}
}



process {
	beforeScript = "source activate ${params.conda_env}"
	echo = false
}



profiles {
	standard {
		process {
			executor = "local"
		}
		executor {
			queueSize = 1
		}
	}
}
