manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07"
}



params {
    conda_env = "tspg"

    input_dir = "input"
    train_data = ""
    train_labels = ""
    perturb_data = ""
    perturb_labels = ""
    gmt_file = ""

    make_inputs = false
    targets = ""

    output_dir = "output"
}



report {
    enabled = true
    file = "${params.output_dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output_dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output_dir}/reports/trace.txt"
    raw = true
}



docker {
    runOptions = "--init --gpus all"
}



singularity {
    runOptions = "--nv"
    autoMounts = true
}



process {
    container = "systemsgenetics/tspg"
}



profiles {
    conda {
        process.beforeScript = "source activate ${params.conda_env}"
    }

    docker {
        docker.enabled = true
    }

    example {
        params.make_inputs = true
        params.targets = "class-00,class-01"
    }

    palmetto {
        process {
            executor = "pbspro"
            time = 24.h
            clusterOptions = "-l select=1:ncpus=2:mem=14gb"

            withLabel:gpu {
                clusterOptions = "-l select=1:ncpus=2:mem=62gb:ngpus=1:gpu_model=p100"
            }
        }
        executor {
            queueSize = 50
        }
    }

    singularity {
        singularity.enabled = true
    }

    standard {
        process.executor = "local"
        executor.cpus = 1
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
